.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
}

.node-start {
    background-color: green !important;
}

.node-goal {
    background-color: red !important;
}

.node-visited {
    background-color: rgba(0, 190, 218, 0.75);
    animation-name: visited;
    animation-duration: 3s;
}

.node-shortest-path {
    background-color: rgb(255, 254, 106);
    animation-name: visited;
    animation-duration: 3s;
    animation-delay: 3s;
}

.node-wall {
    background-color: gray;
    animation-name: wall;
    animation-duration: 0.2s;
}

@keyframes wall {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes visited {
    0% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}
