.node {
    background: #fff;
    border: 1px solid #999;
    float: left;
    width: 34px;

    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
}

.node-start {
    background-color: green !important;
}

.node-goal {
    background-color: red !important;
}

.node-visited {
    background-color: yellow;
}

.node-shortest-path {
    background-color: black;
}

.node-wall {
    background-color: gray;
}
